{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css",
  "rangeStart": 0,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "plugins": [],
  "vueIndentScriptAndStyle": false,
  "useTabs": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "overrides": [],
  "singleAttributePerLine": false,
  "filepath": "",
  "requirePragma": false,
  "cursorOffset": -1,
  "editorconfig": false,
  "insertPragma": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "bracketSpacing": true
}
